.post{
    text-align: left;
    border: 1px solid black;
    border-radius: 16px;
    margin:16px 20%;
    padding:0 80px;
    box-shadow:  3px 5px 7px gray;
}
.post p {
    font-weight: 700;
}

.post-clicked{
    /* text-align: left;
    border: 1px solid black;
    border-radius: 16px;
    margin:16px 20%;
    padding:0 80px;
    box-shadow:  3px 5px 7px gray; */
    background-color: rgb(230, 230, 230);
}
.post-link{
    list-style-type: none;
    text-decoration: none;
    color:black;

}
/* .post-clicked p {
    font-weight: 700;
} */