#main h1{
    margin: 10px 0;
    font-size: 42px;
}

.prenex{
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
}
#main .button {
    background-color: #4CAF50;
    color: #fff;
    padding:8px 16px;
    border-radius: 0;
    font-family: "Segoe UI",Arial,sans-serif;
    font-weight: normal;
    border: none;
    font-size: 17px;
    text-align: center;
    width: fit-content;
    margin:16px 0;
}
#main .button:hover {
    background-color: #46a049;
    color: #fff;
}
#main > p{
    font-size: 16px;
    margin-bottom: 20px;
}
#main hr {
    margin: 20px -16px;
    border:0;
    border-top: 1px solid #eee;
}

.example {
    padding:8px 20px;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: #f1f1f1;
}
.excontent{
    background-color: #fff;
    padding:8px 16px;
}
.code {
    font-family: Consolas,"courier new";
    color: crimson;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 105%;
    background-color: rgba(222,222,222,0.3);
}
.tagcode{
    color: mediumblue;
}
.tagname{
    color: brown;
}
.atribuite{
    color: red;
}


.note {
    margin-top: 24px;
    margin-bottom: 24px;
    margin-left: -32px;
    margin-right: -32px;
    padding: 16px 32px;
    background-color: #ffffcc;
}
.note > p {
    margin: 15px 0;
}

.form {
    background-color: #555555;
    padding: 16px;
    color: #ffffff;
}
.excercise {
    background-color: #ffffff;
    padding: 16px;
    color: #000000;

}
.excercise p {
    margin: 18px 0;
}
.excercise a{
    cursor: pointer;
    text-decoration: underline;
}
.excercise a:hover{
    color:#4CAF50;
 
} 
.answer {
    background-color: #f1f1f1;
    padding: 16px;
    font-size: 120%;
    font-family: Consolas,"Courier New", Courier, monospace;
}
.answer input {
    width: 155px;
    padding: 1px;
    border: 1px solid transparent;
    height: 1.3em;
}
.table{
    padding: 8px 0px;
    display: table-cell;
    text-align: left;
    vertical-align: top;
}
.odd {
    background-color: #f1f1f1;
}
.table{
    border: 1px solid black;
}
tr {
    border-bottom: 10px solid #ddd
}
/* --------------------------------------------------------------------------- */
img {
    position: relative;
    width: 100%;
}
/* ---------------------------------------------------------------------------- */
