.sidemenu{
    display: flex;
    flex-flow:column wrap;
    margin-bottom: 20px;
    font-family: "Segoe UI",Arial,sans-serif;
    font-size: 15px;
    justify-content:flex-start;
   
}
.active{
    background-color: #4CAF50;
    color:#ffffff;
}
.sidemenu .active:hover {
    background-color: #4CAF50;
    color:#ffffff;
}
.sidemenu a{
    padding:2px 1px 1px 16px;
    cursor: pointer;
   
}
.sidemenu a:hover{
    padding:2px 1px 1px 16px;
    background-color: #cccccc;
}
.sidemenu h2{
    padding-left: 16px;
    font-size: 21px;
    margin-bottom: 5px;
}